<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="http://s2010/feedback" httpResponseStatus="Permanent" />
        <rewrite>
            <rules>
                <remove name="HttpToHttps" />
                <rule name="HttpToHttps" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <serverVariables />
                    <action type="Redirect" url="https://s2010/feedback/" redirectType="Temporary" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
